.container{
    margin: auto;
    padding: 50px;
}
.articles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}
.others-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;

}
button {
  font-size:25px;
}




